.works-main-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: hwb(0 0% 100%);
  color: white;
  font-family: Chakra Petch;
  font-weight: 700;
  padding: 5%;
}

.works-heading-container {
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    rgba(217, 217, 217, 0.3) 0%,
    rgba(217, 217, 217, 0) 139.29%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  width: 93.27px;
  height: 59.5px;
}

.works-heading {
  font-size: 20px;
}

.work-card-main-container {
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  /* height: 500px; */
  justify-content: center;
  margin-top: 5%;
  align-items: center;
  padding: 5%;
  border-radius: 3%;
}

.work-card-content-container {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work-card-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.work-card-number {
  height: 30px;
  width: 30px;
  padding: 1%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  font-size: 10px;
  margin-bottom: 5%;
  font-weight: bold;
  box-shadow: 0px 0px 10px 2px white;
}

.work-card-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.work-card-image-heading {
  font-size: 20px;
}

.work-card-image {
  width: 250px;
  height: 250px;
}

.work-card-view-btn {
  height: 25px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  background: #00f8aa;
  width: 50px;
  margin-top: 5%;
  font-size: 8px;
  font-weight: bold;
}
.work-card-explore-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.work-card-explore-btn {
  height: 36px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-self: flex-end !important;
  align-items: center;
  background: #00f8aa;
  width: 100px;
  margin-top: 5%;
  font-weight: bold;
}

@media screen and (min-width: 900px) {
  .work-card-container {
    flex-direction: row;
  }
  .work-card-content-container {
    font-size: 22px;
  }
  .work-card-number {
    margin-bottom: 0%;
  }
}

@media screen and (min-width: 1000px) {
  .work-card-main-container {
    flex-direction: row;
  }
  .work-card-number {
    align-self: flex-start;
    font-size: 35px;
  }
  
.work-card-view-btn {
  height: 35px;
 
  width: 70px;
  font-size: 15px;
}
}
