.my-capabilities-main-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.my-capabilities-mini-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 95%;
  border-radius: 8px;
}

.my-capabilities-cards-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  flex-wrap: wrap;
  margin-bottom: 6%;
}

.my-capabilities-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
  position: relative;
  border-radius: 10px;
  margin: 0% 0% 13% 0%;
  border: 1px solid white;
  min-width: 250px;
  max-width: 250px;
  min-height: 200px;
}

.my-capabilities-card-logo {
  height: 30px;
  width: 30px;
}

.my-capabilities-card-heading {
  font-weight: bold;
  color: rgba(0, 255, 179, 1);
}

.my-capabilities-card-para {
  font-size: 14px;
  padding: 0;
}

.my-capabilities-card-count-container {
  background-color: rgba(0, 255, 179, 1);
  display: flex;
  justify-content: center;
  height: 30px;
  border: 1px solid white;
  border-radius: 8px;
  position: absolute;
  font-size: 35px;
  color: black;
  top: -16px;
  padding: 10px;
  left: -13px;
  width: 30px;
  align-items: center;
}

.mycapabilities-heading-container {
  width: 165.27px;
  height: 59.5px;
  background: linear-gradient(
    180deg,
    rgba(217, 217, 217, 0.3) 0%,
    rgba(217, 217, 217, 0) 129.29%
  );
  border-radius: 50%;
  margin-bottom: 5%;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mycapabilities-heading {
  font-size: 20px;
}

@media screen and (min-width: 900px) {
  .my-capabilities-card-para {
    font-size: 18px;
  }
}
