.home-main-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: hwb(0 0% 100%);
  color: white;
  font-family: Chakra Petch;
  font-weight: 700;
  flex-direction: column;
}

.home-mini-container {
     flex-direction: column;
     align-self: flex-start;
     padding-top: 0%;
     font-size: 23px;
     padding-left: 8%;
     display: flex;
     justify-content: center;
     width: 685px;
     margin-top: 0%;
     padding-right: 0;
     height: 532px;
     border-radius: 50%;
     background: linear-gradient( 244deg, rgba(103, 215, 209, 0.42) 0%, rgba(38, 29, 34, 0) 37.86% );
}

  

.horizontal-line {
  width: 95%;
}
