.home-main-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: hwb(0 0% 100%);
  color: white;
  font-family: Chakra Petch;
  font-weight: 700;
  flex-direction: column;
}

.home-mini-container {
  width: 30%;
  flex-direction: column;
  padding: 8%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: linear-gradient(
    244deg,
    rgba(103, 215, 209, 0.42) 19.48%,
    rgba(38, 29, 34, 0) 37.86%
  );
}

.horizontal-line{
  width: 95%;
}